Package: libgif7
Source: giflib
Version: 5.2.2-1ubuntu1+safelibs1
Architecture: amd64
Maintainer: SafeLibs Maintainers <safelibs@example.invalid>
Installed-Size: 373
Depends: libc6 (>= 2.34), libgcc-s1 (>= 4.2)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://giflib.sourceforge.net/
Description: library for GIF images (library)
 GIFLIB is a package of portable tools and library routines for working with
 GIF images.
 .
 This package contains the library.
Original-Maintainer: David Suárez <deiv@debian.org>
