a.out
original/*.a
original/*.o
original/*.so
original/*.so.*
original/gif2rgb
original/gifbg
original/gifbuild
original/gifclrmp
original/gifcolor
original/gifecho
original/giffilter
original/giffix
original/gifhisto
original/gifinto
original/gifsponge
original/giftext
original/giftool
original/gifwedge
original/libutil.so
original/openbsd-reallocarray.o
original/qprintf.o
original/quantize.o
original/tests/public_api_regress
