Package: libgif7-dbgsym
Package-Type: ddeb
Source: giflib
Version: 5.2.2-1ubuntu1+safelibs1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: SafeLibs Maintainers <safelibs@example.invalid>
Installed-Size: 84
Depends: libgif7 (= 5.2.2-1ubuntu1+safelibs1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libgif7
Build-Ids: 82a4a7541fdab790953df33c5626db205952963b
Original-Maintainer: David Suárez <deiv@debian.org>
